@font-face {
    font-family: "fuenteLinda";
    src: url(fonts/NanumBrushScript-Regular.ttf);
}

body{
    background-color: rgb(250, 230, 219);

}

#info{
    width: 24% ;
    background-color: rgb(255, 247, 177);
    border-radius: 5%;
    border: 3px;
    border-style: outset;
    border-color: rgb(255, 232, 167);
    margin: 5%;
}

.navbar-brand1{
    font-family: fuenteLinda;
    font-size: 50px;
    color: black;
    text-decoration: none;
}

.texto{
    margin-top: 10%;
    margin: 3%;
    text-decoration:overline;
    text-align: justify;
}