@font-face {
    font-family: "fuenteLinda";
    src: url(fonts/NanumBrushScript-Regular.ttf);
}

body{
    background-color: rgb(245, 245, 217);
}

#info{
    width: 35%;
    margin: 5%;
    padding: 2%;
    background-color: rgb(252, 213, 219);
    border-radius: 5%;
    border: 3px;
    border-style:groove;
    border-color: black;
}

.navbar-brand1{
    font-family: fuenteLinda;
    font-size: 50px;
    color: black;
    text-decoration: none;
}

h2{
    color: black;
    
}

h1{
    color:black;
   
}

.texto{
    width: 60%;
    margin: 5%;
    display: inline-block;
    vertical-align: middle;
    text-align:  center, justify, start;
}

